.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding: 50px 50px 0;
}

.header-logo {
    display: block;
    width: 150px;

    img {
        height: auto;
        display: block;
    }
}

// PCでは非表示
.hamburger {
    display: none;
}

.nav-menu {

    ul {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        li {
            background-color: #D9D9D9;
            box-sizing: border-box;
            border-radius: 32px;

            a {
                display: block; //ピルの形の部分を全てクリックできるようにaタグにdisplay: blockさせる
                padding: 16px;
                font-family: 'Madimi One', sans-serif; //フォント名はクォーテーションで囲む
                font-weight: bold;
                font-size: 16px;
                color: black;
            }
        }
    }
}



// ========================
// Smartphone
// ========================
@media (max-width: 768px) {
.container {
    padding: 20px 20px 0;
}

.header-logo {
        width: 70px;
}

/* ハンバーガーメニューボタン全体のサイズ設定 */
.hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    display: block;
    /*常に右上に表示*/
    top: 20px;
    /*position: fixed; top: 20px;right: 20px;で右上から20px位置固定*/
    right: 20px;
    z-index: 9999;
            background-color: red;
}

/* ボタンの横線の長さと高さ(太さ) */
.hamburger span {
    width: 30px;
    height: 2px;
    background-color: #474646;
    display: inline-block;
    position: absolute;
    left: 10px;
    transition: all 0.4s;
    /*ボタンが押されてxに切り替わる時の速度*/
}

.open .hamburger span {
    background-color: #fff;
}

/* ハンバーガーメニューボタンの3本の線の上からの縦位置指定 */
.hamburger span:nth-of-type(1) {
    top: 16px;
}

.hamburger span:nth-of-type(2) {
    top: 24px;
}

.hamburger span:nth-of-type(3) {
    top: 32px;
}

/* ボタンをxにする */
/* jsでもheaderのクラス.open(開閉の意味)に統一 */

header.open .hamburger span:nth-of-type(1) {
    top: 24px;
    transform: rotate(-45deg);
}

header.open .hamburger span:nth-of-type(2) {
    opacity: 0;
}

header.open .hamburger span:nth-of-type(3) {
    top: 24px;
    transform: rotate(45deg);
}


/* navの閉じている状態と開いた状態 */
/* 閉じる＝画面外に追い出す＋見えなくする
　　開く＝元の位置に戻す＋見えるようにする */
.nav-menu {
    position: fixed;
    top: 0;
    /*画面の上にピッタリくるため必要*/
    left: 0;
    width: 100%;
    /*質問：これは必要？→解答：必要*/
    height: 100vh;
    transition: opacity 0.4s;
    background-color: #C2BCB1;
    opacity: 0;
    /*見えなくする*/
    visibility: hidden;
    z-index: 20;
}

.open .nav-menu {
    opacity: 1;
    /*見えるようにする*/
    visibility: visible;

}

/* メニューを縦に並べる */
.nav-menu ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
}

.nav-menu li {
    width: 200px;
}

.nav-menu a {
    display: block;
    text-align: center;
    font-size: 26px;
    color: #333;
}}