@use "../common/mixin" as m;

// PC部分はそのまま

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding: 50px 50px 0;
}

.header-logo {
    display: block;
    width: 150px;

    img {
        height: auto;
        display: block;
    }
}

.hamburger {
    display: none;
}

.nav-menu {
    ul {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        li {
            background-color: #D9D9D9;
            box-sizing: border-box;
            border-radius: 32px;

            a {
                display: block;
                padding: 16px;
                font-family: 'Madimi One', sans-serif;
                font-weight: bold;
                font-size: 16px;
                color: black;
            }
        }
    }
}


// ========================
// Smartphone
// ========================

@include m.tb {

    .container {
        padding: 20px 20px 0;
    }

    .header-logo {
        width: 70px;
    }

    .hamburger {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: fixed;
        display: block;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    .hamburger span {
        width: 30px;
        height: 2px;
        background-color: #474646;
        display: inline-block;
        position: absolute;
        left: 10px;
        transition: all 0.4s;
    }

    .open .hamburger span {
        background-color: #fff;
    }

    .hamburger span:nth-of-type(1) {
        top: 16px;
    }

    .hamburger span:nth-of-type(2) {
        top: 24px;
    }

    .hamburger span:nth-of-type(3) {
        top: 32px;
    }

    header.open .hamburger span:nth-of-type(1) {
        top: 24px;
        transform: rotate(-45deg);
    }

    header.open .hamburger span:nth-of-type(2) {
        opacity: 0;
    }

    header.open .hamburger span:nth-of-type(3) {
        top: 24px;
        transform: rotate(45deg);
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: opacity 0.4s;
        background-color: #C2BCB1;
        opacity: 0;
        visibility: hidden;
        z-index: 20;
    }

    .open .nav-menu {
        opacity: 1;
        visibility: visible;
    }

    .nav-menu ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        gap: 32px;
    }

    .nav-menu li {
        width: 200px;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        font-size: 26px;
        color: #333;
    }
}