/* =========================
    Loading
========================= */

#loading {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #C2BCB1;
    text-align: center;
    height: 100vh;
}

#nomad_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 300px;
        display: block;
    }
}